{% extends 'base.html' %}

{% block title %}{{ testsuite.name }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="export-buttons mt-3">
        <a href="{% url 'teams_core:test_suite_edit' testsuite.id %}" class="btn btn-secondary">Edit</a>
        <a href="{% url 'teams_core:export_testsuite' testsuite.id 'docx' %}" class="btn btn-primary">Export as DOCX</a>
        {% comment %} <a href="{% url 'teams_core:export_testsuite' testsuite.id 'pdf' %}" class="btn btn-secondary">Export as PDF</a> {% endcomment %}
    </div>
    <h1>{{ testsuite.name }}</h1>
    <h2>ID: {{ testsuite.id }}</h2>
    <h2>Created on: {{ testsuite.created_on|date:"M d, Y H:i" }}</h2>
    <h2>Last modified: {{ testsuite.last_modified|date:"M d, Y H:i" }}</h2>
    <h2>Created By: {{ testsuite.author.username }}</h2>
    
    <section>
        <h3>Description</h3>
        <p>{{ testsuite.content }}</p>
    </section>

    <!-- Table of Test Cases included in the test suite -->
    <section>
        <h3>Test Cases ({{ testcases.count }})</h3>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Test Case</th>
                    <th>Testing Statistics (Successful/Total Runs)</th>
                </tr>
            </thead>
            <tbody>
                {% for testcase in testcases %}
                <tr>
                    <td>
                        <span class="d-block"><a href="{% url 'teams_core:test_case_detail' testcase.id %}">{{ testcase.name }}</a></span>
                        <span class="d-block">{{ testcase.oid }}</span>
                    </td>
                    <td>{{ testcase.successful_runs }}/{{ testcase.total_runs }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2">No test cases added to this test suite yet.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</div>
{% endblock %}
