{% extends 'base.html' %}

{% block title %}Test Suites Listing{% endblock %}

{% block content %}
<div class="container mt-5">
    <!-- Title and Create Button -->
    <div class="row">
        <div class="col-md-6">
            <input type="text" id="search-bar" class="form-control" placeholder="Search Test Suites"
                   hx-get="{% url 'teams_core:test_suite_list' %}" hx-trigger="keyup changed delay:500ms" hx-target="#test-suite-list">
        </div>
        <div class="col-md-6 text-right">
            <a href="{% url 'teams_core:test_suite_create' %}" class="btn btn-primary">Create New Test Suite</a>
        </div>
    </div>

    <!-- Test Suite List -->
    <div id="test-suite-list" class="mt-4">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Last Modified</th>
                    <th>Created By</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for test_suite in test_suites %}
                <tr id="test-suite-{{ test_suite.id }}">
                    <td><a href="{% url 'teams_core:test_suite_detail' test_suite.id %}">{{ test_suite.name }}</a></td>
                    <td>{{ test_suite.last_modified|date:"M d, Y H:i" }}</td>
                    <td>{{ test_suite.author.username }}</td>
                    <td>
                        <a href="{% url 'teams_core:test_suite_edit' test_suite.id %}" class="btn btn-secondary">Edit</a>
                        <button class="btn btn-danger"
                            hx-delete="{% url 'teams_core:testsuite-detail' test_suite.id %}"
                            hx-confirm="Are you sure you want to delete this test suite?">
                        Delete
                        </button
                    </td>
                </tr>
                
                {% empty %}
                <tr>
                    <td colspan="3">No test suites created.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    document.addEventListener('htmx:afterRequest', function(event) {
        if (event.detail.target.closest('tr')) {
            event.detail.target.closest('tr').remove();
        }
    });
</script>
{% endblock %}
