
<a class="nav-link position-relative" href="#" id="notificationDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="bi bi-bell"></i>
    {% if user.notifications.unread.count %}
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{ user.notifications.unread.count }}
        </span>
    {% endif %}
</a>
<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notificationDropdown" style="width: 300px;">
    <li class="dropdown-header"><a class="link-underline link-underline-opacity-0 text-decoration-none" href="{% url 'teams_core:all_notifications' %}">Notifications</a></li>
    {% if user.notifications.unread %}
    {% for notification in user.notifications.unread|slice:":5" %}
        <li class="d-flex align-items-center border-bottom py-2 px-2 notification-item" id="notification-item-{{ notification.id }}">
            <input type="checkbox" 
                class="form-check-input me-2" 
                hx-get="{% url 'teams_core:mark_notification_as_read' notification.id %}" 
                hx-trigger="click"
                hx-on="htmx:afterRequest: slideOut"
                hx-target="#notification-item-{{ notification.id }}">
            <div class="flex-grow-1" style="overflow-wrap: anywhere;">
                <a class="dropdown-item text-truncate" 
                style="max-width: 220px;" 
                href="{{ notification.target.get_absolute_url }}">
                    {{ notification.verb }}: {{ notification.description|truncatechars:50 }}
                </a>
            </div>
        </li>
    {% endfor %}
    {% if user.notifications.unread.count > 5 %} 
        <li class="dropdown-item text-center text-muted">...</li> 
    {% endif %}
        <li><hr class="dropdown-divider"></li>
    {% else %}
        <li><span class="dropdown-item text-muted">No new notifications</span></li>
    {% endif %}
</ul>

<script>
    document.addEventListener('click', function(event) {
        const notificationDropdown = document.getElementById('notificationDropdown');
        const dropdownMenu = document.querySelector('.dropdown-menu[aria-labelledby="notificationDropdown"]');
        
        if (!notificationDropdown.contains(event.target) && !dropdownMenu.contains(event.target)) {
            dropdownMenu.classList.remove('show'); // Hide the dropdown
        }
    });
</script>

<script>
    function slideOut(event) {
        const notificationItem = event.target.closest('.notification-item');
        notificationItem.classList.add('slide-out');

        // Remove the item from the DOM after the transition ends
        notificationItem.addEventListener('transitionend', () => {
            notificationItem.remove();
        });
    }
</script>