{% extends 'base.html' %}

{% block title %}Test Case Listing{% endblock %}

{% block content %}
<div class="container mt-5">
    <!-- Search and Filter Section -->
    <div class="row">
        <div class="col-md-6">
            <input type="text" id="search-bar" class="form-control" placeholder="Search Test Cases"
                hx-get="{% url 'teams_core:test_case_list' %}"
                hx-trigger="keyup changed delay:500ms"
                hx-target="#test-case-list"
                hx-vals='{"name": ""}' oninput="this.setAttribute('hx-vals', JSON.stringify({name: this.value}))">
        </div>
        <div class="col-md-6 text-right">
            <a href="{% url 'teams_core:test_case_create' %}" class="btn btn-primary">Create New Test Case</a>
        </div>
    </div>

    <!-- Main table container to be replaced by HTMX requests -->
    <div id="test-case-list" class="mt-5">
        {% include 'test_case/_test_case_table.html' %}
    </div>
</div>

{% endblock %}

{% block extra_scripts %}

{% endblock %}
